Library/
Temp/
M_MJ.sln
*.meta

.vs/
.idea/
unityMajiang.sln
obj/
Assembly-CSharp-firstpass.csproj
GjMaJiang.Plugins.csproj
*.csproj
*.sln
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectVersion.txt
Assembly-CSharp.csproj
*.unitypackage
Assets/StreamingAssets/build_info.txt
